body{
  font-family: sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #b356cf;
  color: white;
  padding: 1rem;
}

img {
  max-width: 300px;
  border-radius: 12px;
  margin: 20px 0;
}

footer {
  background-color: #eee;
  padding: 1rem;
  font-size: 0.9rem;
}

